<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!-- The string that will be displayed on the console title -->
    <add key="Game Name" value="Check app.config to change this" />
    <!-- The font size to set the console. to Use the format "x;y" (where x and y are the sizes). The actual size might not be excactly what is entered here (blame microsoft) -->
    <add key="Console Font Size" value="1;1" />
    <!-- How many frames we want to run inbetween rendering. Set this to 1 if you want to render every frame. The main reason this exists is to ensure that the rendering doesn't become too fast or slow -->
    <add key="FramesBetweenRenders" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>