<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!-- The string that will be displayed on the console title -->
    <add key="Game Name" value="Check app.config to change this" />
    <!-- The font size to set the console to
			 The actual size might not be excactly what is here (blame microsoft)
			 Use the format "x;y" (where x and y are the sizes) -->
    <add key="Console Font Size" value="1;1" />
    <!-- How many frames we want to run inbetween rendering
			 Set this to 1 if you want to render every frame
			 The main reason this exists is to ensure that the rendering doesn't become too fast or slow -->
    <add key="FramesBetweenRenders" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>